@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

/* TO DO!!! */


/* >Media query for logo
   >Navbar elements to right
   >Search box cover
   > */


/* Basic Body CSS - Start */

body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

h3 {
    font-weight: bold;
    color: #00527a;
    font-size: 1.3rem;
}

h3 a {
    font-weight: bold;
    color: #00527a;
}

h2 {
    font-weight: bold;
    color: black;
}

h4 {
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}

hr {
    margin-top: 55px;
}

ul {
    padding: 15px 15px 15px 15px;
}


/* Basic Body CSS - End */


/* Logo section */

.logocontainer {
    text-align: center;
}


/* Navbar - Start */

.bg-dark {
    background-color: #01689b!important;
}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 1.625rem;
}

.navbar-dark .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: #01689b!important;
}


/* Navbar - End */


/* Hero Image Navigation - Start */

.heroimage {
    background: url(./images/markthal-rotterdam-hero.jpg);
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroimage h3 {
    font-size: 1.2em;
}

.square {
    background-color: white;
}

div.container-fluid.sqcont {
    padding-top: 15px;
}

li a.sqlinks:hover {
    text-decoration: none;
}

#symbol:hover {
    text-decoration: underline;
}

div.heroimage ul li {
    list-style: none;
}


/* Hero Image Navigation - End */


/* Main Section - Start*/

#backcol {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Main Section - End*/


/* Footer and languages - Start */

.foot {
    background-color: #01689b;
}

div.container.d-flex.justify-content-center {
    padding-top: 60px;
}

button.btn.btn-outline-primary.mx-2:hover {
    color: white;
}

button.btn.btn-outline-primary.mx-1.p-1.border-0 {
    color: black;
    font-weight: bold;
    pointer-events: none;
}

div.foot {
    height: 280px;
}

.foot .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.foot div ul {
    margin: 0;
    padding: 0;
}

.foot div ul li {
    color: white;
    list-style: none;
}

.foot div h2 {
    color: white;
    font-size: 1.4rem;
}

.foot div a {
    color: white;
}

div.container-fluid.d-flex.justify-content-center.align-items-center.languages {
    height: 150px;
}


/* Footer and languages - End */


/* Media Queries - Start */

@media (max-width: 576px) {
    #logotype {
        display: none;
    }
}

@media (min-width: 576px) {
    #logotypesmall {
        display: none;
    }
    .qbox {
        font-size: 1.5em;
    }
    .qbox a {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    .thatbox {
        position: absolute;
        top: 80px;
        right: 15px;
        width: 30vw;
    }
    .qbox {
        font-size: 2em;
    }
    .qbox a {
        font-size: 2em;
    }
    ul.navbar-nav {
        position: absolute;
        right: 0px;
    }
}

@media (min-width: 992px) {
    .qbox {
        font-size: 2.5em;
    }
    .qbox a {
        font-size: 2.5em;
    }
}

@media (min-width: 1200px) {
    .qbox {
        font-size: 3em;
    }
    .qbox a {
        font-size: 3em;
    }
}


/* Media Queries - End */