@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

h3 {
    font-weight: bold;
    color: #00527a;
    font-size: 1.4rem;
}

hr {
    margin-top: 55px;
}

header {
    background-color: #fff;
    position: relative;
    display: block;
}

.container #logotype {
    margin-left: 45%;
    margin-right: 55%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding-left: 5vw;
    padding-right: 5vw;
}

.bg-light {
    background-color: #01689b!important;
    min-height: 80px;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 1.625rem;
}

.navbar-light .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: #01689b!important;
}

.heroimage {
    background: url(./images/markthal-rotterdam-hero.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.square {
    background-color: white;
    position: relative;
    z-index: 1;
}

#backcol {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot {
    background-color: #01689b;
    height: 40vh;
}

#languages {
    position: relative;
    height: 20vh;
    background-color: white;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    ...
}

@media (min-width: 992px) {
    ...
}

@media (min-width: 1200px) {
    form.form-inline.my-2.my-lg-0 {
        margin-top: 50px;
    }
}