@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

h3 {
    font-weight: bold;
    color: #00527a;
    font-size: 1.3rem;
}

h3 a {
    font-weight: bold;
    color: #00527a;
}

h2 {
    font-weight: bold;
    color: black;
}

h4 {
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}

hr {
    margin-top: 55px;
}

ul {
    padding: 25px 25px 25px 25px;
}

header {
    background-color: #fff;
    position: relative;
    display: block;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    padding-left: 5vw;
    padding-right: 5vw;
}

.bg-dark {
    background-color: #01689b!important;
    min-height: 80px;
}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 1.625rem;
}

.navbar-dark .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: #01689b!important;
}

.heroimage {
    background: url(./images/markthal-rotterdam-hero.jpg);
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.square {
    background-color: white;
    position: absolute;
    left: 6.5vw;
    z-index: 1;
    margin-top: 25px;
    width: 45vw;
}

li a.sqlinks:hover {
    text-decoration: none;
}

#symbol:hover {
    text-decoration: underline;
}

div.heroimage ul li {
    list-style: none;
}

#backcol {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot {
    background-color: #01689b;
    height: 100%;
}

#languages {
    position: relative;
    height: 30vh;
    background-color: white;
}

div.container.d-flex.justify-content-center {
    padding-top: 60px;
}

button.btn.btn-outline-primary.mx-2:hover {
    color: white;
}

button.btn.btn-outline-primary.mx-2.border-0 {
    color: black;
    font-weight: bold;
    pointer-events: none;
}

section.foot {
    height: 290px;
}

.foot .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.foot div ul {
    margin: 0;
    padding: 0;
}

.foot div ul li {
    color: white;
    list-style: none;
}

.foot div h2 {
    color: white;
    font-size: 1.4rem;
}

.foot div a {
    color: white;
}

#questions {
    margin-top: 40px;
    margin-bottom: 60px;
    size: 50%;
}

#questions h3 {
    font-size: 2.3rem;
}

#questions .card {
    border: 3px solid #0d79af;
}

#questions div .card-body {
    width: 300px;
    font-size: 1.6rem;
    text-align: center;
}

@media (max-width: 576px) {
    .square {
        width: 85vw;
    }
    #logotype {
        display: none;
    }
    img#logotypesmall {
        margin-left: 42vw;
    }
    button.btn.btn-dark {
        float: left;
    }
}

@media (min-width: 576px) {
    .square {
        width: 85vw;
    }
    #logotypesmall {
        display: none;
    }
    img#logotype {
        margin-left: 35vw;
    }
    input.form-control {
        width: 70vw;
    }
    button.btn.btn-dark {
        float: left;
    }
}

@media (min-width: 768px) {
    #thatbox {
        position: absolute;
        right: 8.5vw;
        top: 135px;
    }
    .square {
        width: 50vw;
    }
    img#logotype {
        margin-left: 35vw;
    }
}

@media (max-width: 768px) {
    input.form-control {
        width: 70vw;
    }
    button.btn.btn-dark {
        float: left;
    }
}

@media (min-width: 992px) {
    .square {
        width: 35vw;
    }
    img#logotype {
        margin-left: 35vw;
    }
}


}
@media (min-width: 1200px) {
    .square {
        width: 35vw;
    }
    
    img#logotype {
        margin-left: 35vw;
    }
}